<div class="d-flex">
    <article class="card col-lg-9 col-md-12 p-0 rounded-5 border-0">
        <img class="rounded-5 opacity-50 card-img object-fit-cover"
             src="../../assets/home-hero.jpg"
             alt="home-hero">

        <section class="card-img-overlay d-flex flex-column justify-content-center p-0">
            <h3 class="display-4 p-3">Your payment account is here!</h3>
            <h6 class="card-subtitle fs-2 fw-light bg-dark text-white bg-opacity-25 p-4">Register now, use it whenever you need it.</h6>
            <a routerLink="/payment-details"
               class="btn m-auto fs-4 fw-lighter bg-dark bg-opacity-50 btn-outline-light my-4">Take me there</a>
        </section>
    </article>
</div>