<form #formData="ngForm"
      (ngSubmit)="formSubmitHandler(formData)"
      class="rounded-4">
    <p class="input-group-text d-flex align-items-start flex-column rounded-4 p-0">
        <label class="form-group-sm px-2 pt-2"><i class="fas fa-id-card-clip text-secondary px-2"></i>Name on
            Card</label>
        <input class="form-control rounded-top-0 rounded-bottom-4 form-control-lg"
               placeholder="First and Last Name"
               name="cardOwnerName"
               ngModel
               #cardOwnerName="ngModel"
               required
               minlength="3">
    </p>
    <p class="input-group-text d-flex align-items-start flex-column rounded-4 p-0">
        <label class="form-group-sm px-2 pt-2"><i class="fas fa-credit-card text-secondary px-2"></i>Card Number</label>
        <input class="form-control rounded-top-0 rounded-bottom-4 form-control-lg"
               placeholder="16 digit card number"
               name="cardNumber"
               ngModel
               #cardNumber="ngModel"
               required
               minlength="16"
               maxlength="16">
    </p>
    <p class="input-group-text d-flex align-items-start flex-column rounded-4 p-0">
        <label class="form-group-sm px-2 pt-2"><i class="fas fa-calendar-xmark text-secondary px-2"></i>Valid through<cite
                  class="fw-lighter text-muted"> (mm/yy)</cite></label>
        <input class="form-control rounded-top-0 rounded-bottom-4 form-control-lg"
               name="expirationDate"
               placeholder="E.g. 11/28"
               ngModel
               #expirationDate="ngModel"
               required
               minlength="5"
               maxlength="5">
    </p>
    <p class="input-group-text d-flex align-items-start flex-column rounded-4 p-0">
        <label class="form-group-sm px-2 pt-2"><i class="fas fa-user-secret text-secondary px-2"></i>Security Code</label>
        <input class="form-control rounded-top-0 rounded-bottom-4 form-control-lg"
               name="securityCode"
               placeholder="CVV or CVC"
               ngModel
               #securityCode="ngModel"
               required
               minlength="3"
               maxlength="3">
    </p>

    <p class="d-flex align-items-center pb-0 flex-column"><button class="btn btn-outline-success">Save Payment
            Detail</button></p>
</form>